@import url("https://use.typekit.net/njp6yfr.css");

html {
  font-size: 16px;
}

body {
  position: relative;
  background: #5c6bc0;
  min-height: 400vh;
  color: white;
  font-family: "rift-soft", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  height: 150vh;
  background-size: cover;
  background-position: center;
}

.hero-children {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
}

h1 {
  font-weight: normal;
  font-size: 6vw;
  margin-top: 10%;
}
.spn {
  width: 100%;
  content: "";
  left: 0;
  display: flex;
  background: white;
  height: 4px;
}
.spncont {
  width: 50%;
  content: "";
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 500px;
}
